.App {
	text-align: center;
}

.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	background-color: #000;
}

.home-page input {
	margin-top: 20px;
	padding: 10px;
	width: 600px;
	height: 30px;
	font-family: 'Press Start 2P', cursive;
	background-color: #222;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	font-size: 16px;
}

.home-page button {
	margin-top: 20px;
	padding: 20px 40px;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	background-color: #444;
	color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
}

.home-page button:hover {
	background-color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
